div{
    display: block;
    unicode-bidi: isolate;
}


/* navigations */
#main_nav{
    margin-left: 0.3%;
    border: 0px;
    border-radius: 6px 6px 6px 6px;
    padding: 0;
    background-color: black;
    z-index: 1000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vh;
    height: 60px;
    list-style-type: none;
    text-align: center;
    -webkit-transform: rotate(-90deg) translateY(100%);
    transform: rotate(-90deg) translateY(100%);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    display: table;
    table-layout: fixed;
}

.main_nav__item {
    font-family: 'Unbounded',Arial,sans-serif;
    font-size: 16px;
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

/* links */

a{
    text-decoration: none;
    color: whitesmoke;
}

.active{
    font-weight: bold;
    color: rgb(172, 1, 1);
}

div#links_to_me{
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


footer{ 
    margin-left: 60px;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    text-align: center;
    top: calc(100vh - 60px);
    height: 60px;
    bottom: 0;
    width: auto;
    /* width: calc(100vw - 60px); */
}

.footer_items{
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 20px;
    text-align: center;
    vertical-align: middle
}

/* main.html */
img#main__image_header{
    width: 100%;
    margin: 0;
}

div.title{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



body{
    margin: 0;
    padding: 0;
}

/* connection.html */

div.connection_content{
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 60px;
    width: auto;
}

/* shop.html */

div.product{
    margin-left: 90px;
    width: auto;
}

img.products{
    width: 70%;
    height: auto;
}

table#main, th, td{
    text-align: center;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    width: auto;
}